.flashcard-front, .flashcard-back {
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  background: white;
}

.flashcard-front span, .flashcard-back span {
  display: inline-block;
  position: relative;
  bottom: 5px;
}

.flashcard-toolbar {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
}

.flashcard-toolbar input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.flashcard-toolbar .form-check {
  margin-right: 0;
  position: relative;
  top: 2px;
}

.flashcard-toolbar .edit-button {
  width: 20px;
  height: 20px;
  padding: 0;
}