#appheader {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.appheader-collectionlinks {
  display: inline-block;
  margin-left: 0.7rem;
}

.collectionlink {
  margin-right: 0.7rem;
}

.newcollection-modal {
  float: right;
}

.appheader-header {
  display: inline-block;
  margin-right: 1rem !important;
}

.appheader-menu {
  display: inline-block !important;
  margin-top: 0 !important;
}