.collectionpage-header {
  position: relative;
  top: 3px;
}

.collectionpage-segment {
  position: sticky;
}

.collectionpage-newcard {
  border: solid 2px transparent !important;
}

.overexposed {
  opacity: 50% !important
}