.collectionsummary {
  margin-right: 0.5rem;
  display: inline-block;
}

.collectionsummary span {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.collectionpage-header {
  position: relative;
  top: 3px;
}

.collectionpage-segment {
  position: sticky;
}

.collectionpage-newcard {
  border: solid 2px transparent !important;
}