.flashcard {
  background-color: #f8f8ff !important;
}

.flashcard-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.flashcard-editform {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flashcard-front, .flashcard-back {
  position: relative;
  padding-top: 1.865rem;
  padding-bottom: 1.865rem;
}

.flashcard-language {
  position: absolute;
  left: 5px;
}

.flashcard-language .flag-icon {
  border-radius: 2px;
}

.flashcard-front.header, .flashcard-back.header {
  text-align: center;
  margin: 0 !important;
}

.flashcard-dropdown {
  position: absolute !important;
  top: 10px;
  right: 15px;
  z-index: 10;
}

.flashcard-checkbox {
  position: absolute !important;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.flashcard {
  box-sizing: border-box !important;
  border: solid 2px transparent !important;
}

.flashcard.selected {
  border-color: #21ba45 !important;
}